@font-face {
    font-family: "TTHovesLight";
    src: url("../fonts/TTHovesLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "TTHovesRegular";
    src: url("../fonts/TTHovesRegular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "TTHovesMedium";
    src: url("../fonts/TTHovesMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "TTHovesBold";
    src: url("../fonts/TTHovesBold.ttf");
    font-weight: 700;
}


html {
    overflow-x: hidden;
}

a, a:hover {
    text-decoration: none;
}


/*HEADER*/

#header {
    position: absolute;
    width: 100%;

}

.header__logo {
    padding-top: 15px;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
}

.header__nav__item {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    margin: 0 20px;
    transition: all .6s linear;
}

.header__nav__item:hover:before {
    position: absolute;
    content: '';
    width: 68px;
    height: 2px;
    background: #000;
    margin: -8px auto;
    display: flex;
    justify-content: center;

}


.header__nav__item:hover:after {
    left: calc(100%);
    position: absolute;
    content: '';
    width: 68px;
    height: 2px;
    background: #000;
    display: flex;
    justify-content: center;
    margin: 10px auto;


}


/*HEADER*/


/*HERO*/


.hero__img {
    width: 570px;
    height: 629px;
}
.hero__title{
    padding-top: 238px;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.hero__desc{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}
.hero__p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}
.hero__img{
    padding-top: 80px;
}
.btn{
    padding: 14px 50px;
    margin-top: -67px;
    background: white;
    color: black;
    text-align: center;
    text-transform: uppercase ;
}
.slick-arrow{
    position: absolute;
}
.slick-arrow.slick-next{
    background: url("../images/right.svg") no-repeat center/30px;
    font-size: 0;
    top: 450px;
    left: 50px;
    width: 60px;
    border:none;
    height: 50px;
}
.slick-arrow.slick-prev{
    background: url("../images/left.svg") no-repeat center/30px;
    font-size: 0;
    width: 60px;
    top: 450px;
    z-index: 4;
    border:none;
    height: 50px;
}
/*HERO*/


/*ABOUT*/
#about{
    padding-bottom: 50px;
    padding-top: 50px;
}
.about__img1{
    margin-bottom: 20px;
}
.about__title{
    font-family: "TTHovesLight", sans-serif;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.about__desc{
    font-family: "TTHovesLight", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    width: 400px;
}
.about__link{
    background: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    padding: 15px 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}
.about__link:hover{
    background: #BDBDBD;
    transition: 0.7s;
    color: #000000;
}
/*ABOUT*/

/*tasks*/
#tasks{
    padding-top: 50px;
    padding-bottom: 50px;
}
.tasks-title{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.tasks-desc{
    width: 279px;
    height: 144px;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    margin-left: -180px;
    margin-top: 50px;
}
.tasks__num{
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
}
.tasks__num2{
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
}
.tasks__desc__p{
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    margin-left: -170px;
    margin-top: 60px;
/*tasks**/

/*projects*/

#projects{
    padding-top: 50px;
    padding-bottom: 50px;
}
.row{
    padding-bottom: 300px;
}



.tasks-title{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}


/*projects*/